<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:label="Tethys"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name=".wear.WatchFaceActivity"
            android:exported="true"
            android:label="Tethys">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".wear.TethysWatchFaceService"
            android:exported="true"
            android:icon="@drawable/preview_tethys"
            android:label="Tethys"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face_info" />

            <meta-data
                android:name="com.google.android.wearable.watchface"
                android:resource="@xml/watch_face" />

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_tethys" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_tethys" />
        </service>
    </application>

</manifest>
